// 
// Container placeholder and mixin
// 

@mixin container($max-rel-width, $max-width, $gutter) {
	& {
		width: $max-rel-width;
		max-width: $max-width;
		margin: 0 auto;

		padding-left: 0.5 * $gutter;
		padding-right: 0.5 * $gutter;
	}
}
