// 
// Container placeholder and mixin
// 

@mixin container($max-rel-width, $max-width, $gutter) {
	& {
		width: $max-rel-width;
		max-width: $max-width;
		margin: 0 auto;

		padding-left: $gutter;
		padding-right: $gutter;

		& > .grid {			
			margin-left: 0.5 * $gutter;
			margin-right: 0.5 * $gutter;
		}
	}
}
