// 
// Container element styles
// 

@if elementIsIncluded("container") {
	$max-rel-width: $max-relative-container-width;

	@for $n from 1 to $max-column-count + 1 {
		$max-width: $n * $column-max-width + ($n + 1) * $gutter;
		
		@if $n == 1 {
			.container, .container-#{$n} {
				@include container(
					$max-rel-width: $max-rel-width, 
					$max-width: $max-width, 
					$gutter: $gutter);
			}
		} @else {
			.container-#{$n} {
				@include container(
					$max-rel-width: $max-rel-width, 
					$max-width: $max-width, 
					$gutter: $gutter);
			}
		}
	}
}
