// 
// Whitespace settings
// 

$colors: (
	"red" "danger" #D93D00,
	"green" "success" #77B22E,
	"blue" "default" #0580A6,
	"yellow" "warning" #FFE11A
) !default;

$grayscales: (
	"black" "dark" #161616,
	"gray-dark" #333333,
	"gray" #999999,
	"gray-light" "disabled" #CCCCCC,
	"white" "light" #FFFFFF,
) !default;

$link-color: inherit !default;

$fonts: (
	"default" "sans" (
		"font-family" ("Proxima Nova", "Futura", "Helvetica Neue", "Helvetica", sans-serif),
		"font-weight" 400
	),
	"heading" (
		"font-family" ("Proxima Nova", "Futura", "Helvetica Neue", "Helvetica", sans-serif),
		"font-weight" 200
	),
	"monospace" (
		"font-family" ("Inconsolata", "Consolas", "Courier New", monospace),
		"font-weight" 400
	)
) !default;

$font-sizes: (
	"xxsmall" 0.7,
	"xsmall" 0.8,
	"small" 0.9,
	"normal" 1.0,
	"large" 1.1,
	"xlarge" 1.3,
	"xxlarge" 1.5,
	"huge" 1.8,
	"xhuge" 2.5,
	"xxhuge" 3.5
) !default;

$base-font-size: 16px !default;
$base-line-height: 1.618 !default;
$base-line-multiple: 0.25 !default;

$paddings: (
	"none" 0,
	"xxsmall" 0.125,
	"xsmall" 0.25,
	"small" 0.5,
	"medium" 0.75,
	"large" 1.0,
	"xlarge" 1.5,
	"xxlarge" 2.0,
	"huge" 2.5,
	"xhuge" 3.5,
	"xxhuge" 5.0
) !default;

$margins: $paddings !default;

$border-radii: $paddings !default;

$rule-widths: (
	"none" 0,
	"xxthin" 0.75 / 16.0,
	"xthin" 1.0 / 16.0,
	"thin" 1.25 / 16.0,
	"medium" 1.5 / 16.0,
	"thick" 2.0 / 16.0,
	"xthick" 3.0 / 16.0,
	"xxthick" 4.0 / 16.0
) !default;

$directions: ("left", "right", "top", "bottom") !default;
$corner-directions: ("top-left", "top-right", "bottom-left", "bottom-right") !default;

$font-weights: (
	"thin" "hairline" "100" 100,
	"extra-light" "200" 200,
	"light" "300" 300,
	"regular" "book" "400" 400,
	"medium" "500" 500,
	"semi-bold" "demi-bold" "600" 600,
	"bold" "700" 700,
	"extra-bold" "heavy" "800" 800,
	"black" "900" 900
) !default;

$max-column-count: 12 !default;
$gutter: padding("small") !default;
$column-min-width: 20rem !default;
$column-max-width: 33rem !default;

$min-relative-container-width: 61.8% !default;
$max-relative-container-width: 100% !default;

$max-window-em-width: $column-max-width / (1.0 - strip-units($min-relative-container-width)) !default;

$elements: (
	"generic" true,
	"grid" true,
	"container" true,
	"typography" true,
	"forms" true,
	"buttons" true,
) !default;
